@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

.center {
  text-align: center;
}

h1 {
  color: #333; 
}