@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar {
  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f5f9;
  }

  ::-webkit-scrollbar-thumb {
    background: #b5b5b5;
  }
}
